/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #5375E2;
    margin: 0;
    padding: 0;
}

/* === Header Styles === */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.logo img {
    width: 100px;
}

.burger-menu button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

/* === Menu Styles === */
.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    transition: right 0.3s ease;
    padding-top: 50px;
}

.side-menu button#close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 10px 0;
}

.side-menu ul li a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.side-menu ul li a:hover {
    background-color: #4457a6;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
/* tables */
table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 70%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  form label {
    margin-right: 5px;
    font-weight: bold;
}

form input[type="text"] {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
}
